*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 1rem 2rem;
    background-color: white;
}

#boolean-logo{
    width: 4rem;
    vertical-align: middle;
}

#title-text{
    display: inline-block;
    font-size: 3.5rem;
    vertical-align: middle;

}
body{
    background-color: rgb(247, 249, 250);
}

.button-container{
    width: 60%;
    height: 80px;
    margin: 1rem 15rem;
    padding-left: 2rem;
    padding-top: 1.5rem;
    background-color:white;
}

.button{
    width: 80px;
    height: 30px;
    border-radius: 10%;
    border: 1px solid rgb(213, 217, 222);
    font-weight: 400;
}

.button-task{
    color: white;
    background-color: rgb(70, 173, 242);
}

.button-section{
    color: rgb(213, 217, 222);
    background-color: white;
}

.to-do-container{
    margin-top: 2em;
    background-color: white;
    width: 60%;
    height: 80%;
    margin: 2rem 15rem;
    padding-left: 2rem;
}

#to-do-list{
    line-height: 2.5rem;
    list-style-position: inside;
    list-style-type: none;
}

.sub-list{
    font-size: 0.8em;
    font-weight: 100;
    list-style-type: none;
}

#to-do-list>li::before{
    content: "\2B9F";
}

.badge{
    display: inline-block;
    width: 5rem;
    height: 30px;
    text-align: center;
    border: none;
    border-radius:20%;
    vertical-align: center;
    margin-left: .5em;
    color: white;
    font-size: .8em;
    font-weight: 550;
}

.main-list{
    font-size: 1.5em;
    font-weight: 600;
}
.editorial{
    background-color: rgb(68, 171, 235);
}
.q1Goals{
    background-color: rgb(155, 113, 227);
}
.recruiting{
    background-color: rgb(99, 191, 168);
}
.mobile{
    background-color:rgb(242, 159, 51);
}
.sales{
    background-color: rgb(177, 201, 38);
}
.website{
    background-color: rgb(217, 100, 162);
}

.checked::before{
    content: "☑";
    margin-right: 1rem;
}

.unchecked::before{
    content: "☐";
    margin-right: 1rem;
}